.navi{
    background-color: #7B7277;
    padding: 10px;
}
.icons{
    width: 110px;
    height: 100px;
    
}
.ms{
    width: 1087px;
    height: 357.37px;
    background-color: #D4FED0;

}
h1{
    font-size: 150px;
    text-align: center;
}
body{
    background-color: #EBFED0;
}